#middle-editor-row {
	word-wrap:break-word;
}

#editor-toolbar {
    display: table-cell;
    vertical-align: middle;
}

.dropdown-menu {
    min-width: 0px;
}

.navbar .btn {
  	margin-left: auto;
    margin-right: auto;
}

.navbar li {
    cursor: pointer;
}

.btn {
    margin: 0;
}

