/*MAIN CONTENT*/

html, body {
	overflow: hidden;
	background-color: #EFF2F4;
	font-family: 'Roboto', sans-serif;
}

.top {
	background-color: #FFFFFF;
	height:5%;
	margin-bottom: 4px;
}

.middle {
	background-color: #FFFFFF;
	padding:1px;
	margin-bottom:4px;
}

.bottom {
	background-color: #FFFFFF;
	height:30%;
	padding:1px;
}

.file, .editor {
	margin-right:1px;
}

#top-main-row {
	display: table;
	box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
}

#btn-group-main-toolbar {
	width: 100%;
	display: table-cell;
    vertical-align: middle;
}

#top-editor-row {
	width: 102%;
	display: table;
	text-align: center;
	box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);

}


#middle-file-row, #middle-widget-row{
	height:65%;
	padding: 0px;
}

#middle-editor-row {
	background-color: #FFFFFF;
	height:95%;
	width: 102%;
	overflow-y:auto;
	padding: 40px;
}

#middle-widget-row {
	background-color:#FFFFFF;
}

#my-files, #my-contacts{
	background-color: #87D37C;
	color: #FFFFFF;
	padding: 5px;

	font-weight: 500;
	text-transform: uppercase;
	padding-left: 15px;
}

/*WIDGET STUFF*/
#widget-right {
	margin-top: 2px;
	margin-left: 2px;
}

#wiki-b {
	width: 60px;
	height: 28px;
}

#pri-b {
	width: 60px;
	height: 28px;
}


#ox-b {
	width: 60px;
	height: 28px;
}

#yahoo-b {
	width: 60px;
	height: 28px;
}

#top-widget-row{
	min-height: 33px;
	box-shadow:0 4px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
}

#wikipedia-iframe {
	width:100%;
	height:100%;
	border:0px;
}

#priberam-iframe {
	width:100%;
	height:100%;
	border:0px;
}

#oxford-iframe {
	width:100%;
	height:100%;
	border:0px;
}

#yahoo-iframe {
	width:100%;
	height:100%;
	border:0px;
}

/*CHAT STUFF*/
#bottom-widget-row {
	padding:0px;
}

.well {
	word-wrap:break-word;
	margin-bottom:5px;
	font-size:12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-top: 3px;
}

#chat-messages {
	width:100%;
	height:80%;
	overflow-y:auto;
}

#chat-input {
	width:100%;
	height:10%;
	overflow-y:auto;
}

.widget-icon {
	background-color:;
	height:100%;
}

/*FILE STUFF*/
#file-list {
	height:auto;
	overflow: auto;
	max-height: 88%;
}

#file-list li{
	border-right-width: 0px;
	border-left-width: 0px;
	font-weight: 300;
}

#file-list li:hover{
	cursor: pointer;
}

#file-list .active{
	cursor: pointer;
	background-color: #eee;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: #ddd;
	color: #000000;
}

#contact-list {
	height:auto;
	overflow: auto;
	max-height: 70%;
}

#bottom-file-row{
	padding: 0px;
}

.modal-padding {
	margin-top: 30px;
	margin-bottom: 85px;
}

/*DISABLE ROUNDED CORNERS*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.main-button {
	padding:0px;
	margin: 0px;
	width: 20.2%;
	border-top: 0px;
	border-bottom: 0px;
}

.left {
	border-left: 0px;
}

.right {
	border-right: 0px;
}

*:focus {
    outline: none;
}