body, html, center {
	background-color:#D9E6D5;
}

a {
	cursor: pointer;
}

.login-form {
	width: 300px;
}

.register-form {
	width: 300px;
}

#alternatives {
	margin-top:10px;
}

.hidden {
	display:none;
}